[submodule "modules/AnimTimeline"]
	path = modules/AnimTimeline
	url = https://github.com/hiergaut/AnimTimeline.git
[submodule "modules/glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm.git
